In [1]:
day = 'Tuesday'

if day == 'Monday':
    print("It's Monday")
elif day == 'Tuesday':
    print("It's Tuesday")
else:
    print("It's Neither a Monday nor Tuesday")

It's Tuesday

In [2]:
list1 = [1,2,3,4,5]

for num in list1:
    if num%2 == 0:
        print(f'{num} is Even')
    else:
        print(f'{num} is Odd')

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd

In [3]:
list2 = (1,2,3,4)

for var in list2:
    print(var)

1
2
3
4

In [4]:
str = 'Hello'

for var in str:
    print(var)

H
e
l
l
o

In [5]:
list3 = {1,2,13,1, 0.1, 4}

for var in list3:
    print(var)

0.1
1
2
4
13

In [8]:
list4 = {
    "name" : "jeet",
    "age" : 21
}

for var in list4:
    print(var)

name
age

In [11]:
for k,v in list4.items():
    print(f'{k} : {v}')

name : jeet
age : 21

In [12]:
list5 = [(1,'a'), (2,'b')]

for a,b in list5:
    print(f'{a} : {b}')

1 : a
2 : b

In [13]:
for item in list5:
    print(item)

(1, 'a')
(2, 'b')

In [14]:
i=0

while i<=5:
    print(i)
    i+=1
else:
    print('i is greater than 5')

print('Execution Completed')

0
1
2
3
4
5
i is greater than 5
Execution Completed

In [16]:
list1 = [1,2,3,4]

for i in list1:
    pass
    #print('Executing Loop')

print('Execution Completed')

Execution Completed

In [17]:
for i in list1:
    if i%2 ==0:
        print('Even')
    else:
        continue

Even
Even

In [20]:
for i in list1:
    if i%2 !=0:
        print('Odd')
    else:
        break

Odd

In [22]:
for num in range(5):
    print(num)

0
1
2
3
4

In [23]:
for num in range(5, 10, 2):
    print(num)

5
7
9

In [24]:
for num in range(-5, 10, 2):
    print(num)

-5
-3
-1
1
3
5
7
9

In [25]:
for num in range(-5, -10, -2):
    print(num)

-5
-7
-9

In [26]:
list(range(4))

[0, 1, 2, 3]

In [27]:
word = 'Jeet'

for item in enumerate(word):
    print(item)

(0, 'J')
(1, 'e')
(2, 'e')
(3, 't')

In [28]:
list1 = [1,2,3]
list2 = ('a','b','c')

for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [50]:
list1 = [1,2]
list2 = ('a','b','c')

for item in zip(list1,list2):
    print(item)

(1, 'a')
(2, 'b')

In [56]:
list1 = [1,2]
list2 = ('a','b','c')
list3 = {10,20,30}

for a in zip(list1,list2,list3):
    print(f'{a} ')

(1, 'a', 10)
(2, 'b', 20)

In [29]:
2 in [1,2,3]

True

In [30]:
'a' in 'Jeet'

False

In [31]:
max(list1)

3

In [33]:
min(list1)

1

In [35]:
from random import shuffle

In [39]:
list1 = [1,2,3,4,5]

In [40]:
shuffle(list1)

In [41]:
list1

[1, 5, 2, 4, 3]

In [42]:
from random import randint

In [43]:
randint(0,100)

74

In [44]:
result = input("Enter a number: ")

Enter a number:  10

In [45]:
result

'10'

In [46]:
int(result)

10

In [47]:
float(result)

10.0

In [59]:
list1 = [x*2 for x in range(5)]
list1

[0, 2, 4, 6, 8]

In [60]:
list1 = [x*2 for x in range(5) if x%2==0]
list1

[0, 4, 8]

In [61]:
list1 = [x*2 if x%2==0 else 'Odd' for x in range(5)]
list1

[0, 'Odd', 4, 'Odd', 8]

In [64]:
list1 = [x*y for x in [2] for y in range(1,11)]
list1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]